RewriteEngine On
#RewriteCond %{HTTPS} off
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule ^([A-Za-z0-9-]+)/?$ $1.php [NC,L]
#ErrorDocument 404 http://localhost:8080/rates/404